N8N Fastbot.json
{
  "name": "Fastbot",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfd66c1a-f8ae-4509-a705-bf719b46a5b2",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "6274e29f-50b3-45ef-9e91-210791f82631",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}",
              "type": "string"
            },
            {
              "id": "edc171fe-a87f-4e53-bd2d-f2a6b43b45d6",
              "name": "uuid",
              "value": "={{ $('AJUSTE').item.json.usuario }}",
              "type": "string"
            },
            {
              "id": "5f58e6ac-fbe1-4e64-9426-09a52f0f88da",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e08b9424-6e91-47d9-af86-45969d869093",
      "name": "Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        256,
        -80
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        496,
        -80
      ],
      "id": "a67e2c8f-21df-4f64-9205-0f4a572dc14f",
      "name": "Resp to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "FASTBOT",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "930883f3-7750-4129-b4e8-ccb7aa37712a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -848,
        -80
      ],
      "webhookId": "3b5648af-35cd-4e3d-aab2-823234945ec1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -160,
        160
      ],
      "id": "c4447db5-f899-49f6-921f-8b93d0171dae",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "9R5GUUnSsv3EBLUx",
          "name": "OpenAi TutorFOP3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ee987ab-6962-41ef-8ab1-0aed4de24dfa",
              "name": "conversationId ",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "32dc0097-7f5f-406f-b38c-b4527c2d45f0",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.message }}\n\n---\n\nContexto: você está na página {{ $('Webhook').item.json.body.pageName }}, do app Fastbot (em Dentistas.com.br/fastbot).",
              "type": "string"
            },
            {
              "id": "cc9caef3-59f0-4cb0-8208-9317e2e996d4",
              "name": "usuario",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "0801f719-9ff7-4ebd-b8e8-3bfee1849ac8",
              "name": "pageContext",
              "value": "={{ $('Webhook').item.json.body.pageContext }}",
              "type": "string"
            },
            {
              "id": "6431fd61-d9ba-4f89-9274-49779c8de104",
              "name": "pageName",
              "value": "={{ $('Webhook').item.json.body.pageName }} ",
              "type": "string"
            },
            {
              "id": "64be06f7-6453-4003-a43a-ac534840dd03",
              "name": "timestamp",
              "value": "={{ $('Webhook').item.json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "ebb012ed-120b-40ec-bf91-d63be91059fc",
              "name": "system_message",
              "value": "={{ $('SYSTEM').item.json.system_message }}",
              "type": "string"
            },
            {
              "id": "6171a6c9-8ae9-427c-b21d-c9cb32d93b34",
              "name": "contexto",
              "value": "=Contexto: Você está na página {{ $('Webhook').item.json.body.pageName }}, do app Fastbot.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -384,
        -80
      ],
      "id": "a3a35832-2c38-4c00-9200-ba530b216397",
      "name": "AJUSTE"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "mychatbot_2",
        "filters": {
          "conditions": [
            {
              "keyName": "chatbot_user",
              "keyValue": "={{ $('Webhook').item.json.body.userId }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -608,
        -80
      ],
      "id": "67a99bf8-67bf-4e42-aa3c-dd51cb048626",
      "name": "SYSTEM",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "tutfop",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Usuario",
              "fieldValue": "={{ $('Webhook').item.json.body.uid }}"
            },
            {
              "fieldId": "Nome",
              "fieldValue": "={{ $('Webhook').item.json.body.nome }}"
            },
            {
              "fieldId": "Email",
              "fieldValue": "={{ $('Webhook').item.json.body.email }}"
            },
            {
              "fieldId": "Pergunta",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "Resposta",
              "fieldValue": "={{ $json.response }}"
            },
            {
              "fieldId": "DataHora",
              "fieldValue": "={{$now.format('dd-MM-yyyy (HH:mm)')}}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        736,
        -80
      ],
      "id": "838b5fe1-f0f6-4e90-a43d-976c8898c860",
      "name": "LOG",
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      },
      "disabled": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AJUSTE').item.json.mensagem }}",
        "options": {
          "systemMessage": "={{ $('SYSTEM').item.json.system_message }}",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -160,
        -80
      ],
      "id": "bb6ae897-39d8-435a-a185-d51988b613ae",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('AJUSTE').item.json['conversationId '] }}",
        "sessionTTL": "=3600",
        "contextWindowLength": 20
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        -32,
        160
      ],
      "id": "22b22077-9d7f-401a-8cb5-cbf086488903",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2j2zeD5fn3sNEZh8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Esta tool fornece dados detalhados de datas, regulamentos, requisistos, preços e muito mais sobre a prova de seleçao para o Curso de Especialização em Saúde Coletiva e da Família, da FO-UFRJ. \nDocumentos disponíveis:\n1/1) DOLESC.txt - conteúdo integral do edital do conscurso de seleção para o curso de especialização em Saúde COletiva e da Família, da FO-UFRJ.",
        "tableName": {
          "__rl": true,
          "value": "chatbot_documents",
          "mode": "list",
          "cachedResultName": "chatbot_documents"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        80,
        160
      ],
      "id": "9d6c9b8c-0094-4b63-8743-bf66d37e3ac4",
      "name": "Supabase Vector Store",
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        512,
        256
      ],
      "id": "9c8a9514-9549-44cd-9d0a-85f35e7a1cf5",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "JRYZgq2q4R4bTjmn",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Webhook": [
      {
        "json": {
          "headers": {
            "host": "marte.cirurgia.com.br",
            "user-agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/138.0.0.0 Safari/537.36",
            "content-length": "207",
            "accept": "*/*",
            "accept-encoding": "gzip, deflate, br, zstd",
            "accept-language": "pt-BR,pt;q=0.9,en-US;q=0.8,en;q=0.7",
            "content-type": "application/json",
            "dnt": "1",
            "origin": "http://localhost:8080",
            "priority": "u=1, i",
            "referer": "http://localhost:8080/",
            "sec-ch-ua": "\"Not)A;Brand\";v=\"8\", \"Chromium\";v=\"138\", \"Google Chrome\";v=\"138\"",
            "sec-ch-ua-mobile": "?0",
            "sec-ch-ua-platform": "\"Windows\"",
            "sec-fetch-dest": "empty",
            "sec-fetch-mode": "cors",
            "sec-fetch-site": "cross-site",
            "x-forwarded-for": "187.78.130.8",
            "x-forwarded-host": "marte.cirurgia.com.br",
            "x-forwarded-port": "443",
            "x-forwarded-proto": "https",
            "x-forwarded-server": "799db4e8bccd",
            "x-real-ip": "187.78.130.8"
          },
          "params": {},
          "query": {},
          "body": {
            "message": "Oi. Em que página do app estamos?",
            "userId": "7f9d2f89-6b6b-4aa7-b77b-f1cad66ab91c",
            "pageContext": "/my-chatbot",
            "pageName": "página Meu Chatbot do FastBot",
            "timestamp": "2025-07-21T05:07:10.216Z"
          },
          "webhookUrl": "https://marte.cirurgia.com.br/webhook/FASTBOT",
          "executionMode": "production"
        }
      }
    ]
  },
  "connections": {
    "Resposta": {
      "main": [
        [
          {
            "node": "Resp to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp to Webhook": {
      "main": [
        []
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SYSTEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AJUSTE": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SYSTEM": {
      "main": [
        [
          {
            "node": "AJUSTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "116e9261-a7c9-4107-9cd9-dc7f7154e632",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2fcf5f6499ba26fde7c82885ceac2969b502d4e87e7127430f7797f7ff853ae"
  },
  "id": "0cCuoB4InDGmPOf9",
  "tags": []
}