src/N8N/FASTBOT.json
{
  "name": "FASTBOT",
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bfd66c1a-f8ae-4509-a705-bf719b46a5b2",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "6274e29f-50b3-45ef-9e91-210791f82631",
              "name": "message",
              "value": "={{ $('Webhook').item.json.body.message }}",
              "type": "string"
            },
            {
              "id": "edc171fe-a87f-4e53-bd2d-f2a6b43b45d6",
              "name": "uuid",
              "value": "={{ $('AJUSTE').item.json.usuario }}",
              "type": "string"
            },
            {
              "id": "5f58e6ac-fbe1-4e64-9426-09a52f0f88da",
              "name": "response",
              "value": "={{ $json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "e08b9424-6e91-47d9-af86-45969d869093",
      "name": "Resposta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        -256
      ],
      "notesInFlow": true
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.2,
      "position": [
        400,
        -256
      ],
      "id": "a67e2c8f-21df-4f64-9205-0f4a572dc14f",
      "name": "Resp to Webhook"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "FASTBOT",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "930883f3-7750-4129-b4e8-ccb7aa37712a",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -608,
        -256
      ],
      "webhookId": "3b5648af-35cd-4e3d-aab2-823234945ec1"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        -80,
        -48
      ],
      "id": "c4447db5-f899-49f6-921f-8b93d0171dae",
      "name": "gpt-4.1-mini",
      "credentials": {
        "openAiApi": {
          "id": "9R5GUUnSsv3EBLUx",
          "name": "OpenAi TutorFOP3"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "7ee987ab-6962-41ef-8ab1-0aed4de24dfa",
              "name": "conversationId ",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "32dc0097-7f5f-406f-b38c-b4527c2d45f0",
              "name": "mensagem",
              "value": "={{ $('Webhook').item.json.body.message }}",
              "type": "string"
            },
            {
              "id": "cc9caef3-59f0-4cb0-8208-9317e2e996d4",
              "name": "usuario",
              "value": "={{ $('Webhook').item.json.body.userId }}",
              "type": "string"
            },
            {
              "id": "0801f719-9ff7-4ebd-b8e8-3bfee1849ac8",
              "name": "pageContext",
              "value": "={{ $('Webhook').item.json.body.pageContext }}",
              "type": "string"
            },
            {
              "id": "6431fd61-d9ba-4f89-9274-49779c8de104",
              "name": "pageName",
              "value": "={{ $('Webhook').item.json.body.page }}",
              "type": "string"
            },
            {
              "id": "64be06f7-6453-4003-a43a-ac534840dd03",
              "name": "timestamp",
              "value": "={{ $('Webhook').item.json.body.timestamp }}",
              "type": "string"
            },
            {
              "id": "028a3d54-2e78-40e2-90f8-f271013273c0",
              "name": "chatbot_name",
              "value": "={{ $('Webhook').item.json.body.chatbot_name }}",
              "type": "string"
            },
            {
              "id": "ebb012ed-120b-40ec-bf91-d63be91059fc",
              "name": "system_message",
              "value": "={{ $('SYSTEM').item.json.system_message }}",
              "type": "string"
            },
            {
              "id": "6171a6c9-8ae9-427c-b21d-c9cb32d93b34",
              "name": "contexto",
              "value": "=Contexto: Você está na página {{ $('Webhook').item.json.body.page }} do Fastbot.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -256,
        -256
      ],
      "id": "a3a35832-2c38-4c00-9200-ba530b216397",
      "name": "AJUSTE"
    },
    {
      "parameters": {
        "operation": "get",
        "tableId": "mychatbot",
        "filters": {
          "conditions": [
            {
              "keyName": "chatbot_name",
              "keyValue": "={{ $json.body.chatbot_name }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -432,
        -256
      ],
      "id": "67a99bf8-67bf-4e42-aa3c-dd51cb048626",
      "name": "SYSTEM",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "tableId": "fastbot_log",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "Usuario",
              "fieldValue": "={{ $('AJUSTE').item.json.usuario }}"
            },
            {
              "fieldId": "Nome",
              "fieldValue": "(não informado)"
            },
            {
              "fieldId": "Email",
              "fieldValue": "(não informado)"
            },
            {
              "fieldId": "Pergunta",
              "fieldValue": "={{ $json.message }}"
            },
            {
              "fieldId": "Resposta",
              "fieldValue": "={{ $json.response }}"
            },
            {
              "fieldId": "DataHora",
              "fieldValue": "={{$now.format('dd-MM-yyyy (HH:mm)') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        560,
        -256
      ],
      "id": "838b5fe1-f0f6-4e90-a43d-976c8898c860",
      "name": "LOG",
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $('AJUSTE').item.json.mensagem }}",
        "options": {
          "systemMessage": "=Sempre utilize a tool: vector_store para responder perguntas.\n\n{{ $('SYSTEM').item.json.system_message }}",
          "maxIterations": 20
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        -80,
        -256
      ],
      "id": "bb6ae897-39d8-435a-a185-d51988b613ae",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $('AJUSTE').item.json['conversationId '] }}",
        "sessionTTL": "=2592000",
        "contextWindowLength": 6
      },
      "type": "@n8n/n8n-nodes-langchain.memoryRedisChat",
      "typeVersion": 1.5,
      "position": [
        16,
        -48
      ],
      "id": "22b22077-9d7f-401a-8cb5-cbf086488903",
      "name": "Redis",
      "credentials": {
        "redis": {
          "id": "2j2zeD5fn3sNEZh8",
          "name": "Redis account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        272,
        48
      ],
      "id": "f87f05c3-ca91-4730-8f58-0fd9abea976a",
      "name": "Embeddings",
      "credentials": {
        "openAiApi": {
          "id": "JRYZgq2q4R4bTjmn",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "=Use para responder perguntas",
        "tableName": {
          "__rl": true,
          "value": "documents",
          "mode": "list",
          "cachedResultName": "documents"
        },
        "topK": 5,
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "=chatbot_name",
                "value": "={{ $('AJUSTE').item.json.chatbot_name }}"
              },
              {
                "name": "usuario",
                "value": "={{ $('AJUSTE').item.json.usuario }}"
              }
            ]
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        112,
        -48
      ],
      "id": "bc008102-cfe6-49e4-922f-23a055e659fc",
      "name": "vector_store",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "f5TLCmBz5cfmwrxj",
          "name": "Supabase account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Resposta": {
      "main": [
        [
          {
            "node": "Resp to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Resp to Webhook": {
      "main": [
        [
          {
            "node": "LOG",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "SYSTEM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "gpt-4.1-mini": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AJUSTE": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SYSTEM": {
      "main": [
        [
          {
            "node": "AJUSTE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Resposta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Redis": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings": {
      "ai_embedding": [
        [
          {
            "node": "vector_store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "vector_store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "ce20e55d-2fad-48a3-932c-ba896d83c28b",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "b2fcf5f6499ba26fde7c82885ceac2969b502d4e87e7127430f7797f7ff853ae"
  },
  "id": "0cCuoB4InDGmPOf9",
  "tags": []
}